body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}
/*  헤더  */
header {
    width: 100%;
    height: 64px;
    position: fixed;
    background-color: #007bff;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    font-size: 1.5em;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 5px;
}

img {
    display: block;
    margin: 20px auto;
    width: 450px;
    height: 350px;
    border-radius: 5%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.logo:hover {
    background-color: #0056b3;
}

.header_div {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    position: absolute;
    left: 350px;
}
.header_div ul {
    display: flex;
    height: 65%;
    align-items: center;
}
.header_div ul li{
    list-style-type: none;
    margin-right: -100px;
    margin-left: 40px;
    border: 0px;
    height: 100%;
    width: 100%;
    margin-top: -12px;
}

/* 마지막 li 우측 마진 없앰 */
.header_div ul li:last-child {
    margin-right: 0;
}

 /* 헤더에 버튼들 */ 
.header-btns {
    position: absolute;
    left: 1250px;
}
.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 20px; /* 사진과 정보 사이의 간격 */
    height: 760px;
}

/* 로그인 css */

form {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    background-color: #ffffff;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginBtn {
    padding: 10px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginBtn:hover {
    background-color: #0056b3;
}

.links {
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
    margin-top: 12px;
}
.loginPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
/* --------------------실시간 채팅------------------------------- */
.chatImg {
    position: absolute;
    width: 3.125vw;
    height: 3.125vw;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
}

/* 유저 채팅 리스트 */

.chat_message img {
    width: 40px;
    height: 40px;
    margin: 0;
}






.chatBox  {
    position: absolute;
    background-color: rgb(142, 239, 205);
    width: 18.75vw;
    height: 34.375vw;
    right: 6%;
    bottom: 15%;
    border-radius: 1.042vw;
    display: none;
}

.chatList {
    position: absolute;
    background-color: rgb(142, 239, 205);
    width: 18.75vw;
    height: 34.375vw;
    right: 26%;
    bottom: 15%;
    border-radius: 1.042vw;
    /* display: none; */
}

.chatBox.active{
    position: absolute;
    background-color: rgb(142, 239, 205);
    width: 18.75vw;
    height: 34.375vw;
    right: 6%;
    bottom: 15%;
    border-radius: 1.042vw;
    display: block;
}

.chat_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 0.833vw;
    font-weight: bold;
    color: rgb(9, 9, 9);
    margin-top: 0.521vw;
    margin-bottom: 0;
    margin-left: 0.521vw;
}

.close_chatBox{
    font-size: 1.042vw;
    background-color: rgb(142, 239, 205);
    border: none;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 0.521vw;
    margin-right: 0.521vw;
}

.line{
    border: 0.052vw solid;
    margin-top: 1.042vw;
}

.chat_content{
    width: 17.708vw;
    height: 27.083vw;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.521vw;
    padding-bottom: 0;
    position: relative;
}



.chat_content::-webkit-scrollbar {
    width: 0.521vw;
}

.chat_content::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 0.521vw;
}

.chat_content::-webkit-scrollbar-track {
background-color: grey;
border-radius: 0.521vw;
box-shadow: inset 0px 0px 0.26vw white;
}

.message_box {
    width: 100%;
    height: 3.646vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_box input {
    background-color: white;
    width: 12.667vw;
    height: 2.083vw;
    border: none;
    border-radius: 0.521vw;
    position: absolute;
    padding-left: 0.521vw;
    padding-right: 3.646vw;
}

.message_box button {
    z-index: 10;
    position: absolute;
    right: 1.563vw;
}

.content .nickname,
.content .message,
.content .date,
.content img{
    margin: 0;
}

.my-message {
    text-align: left;
}

.my-message .ballon {
    display: inline-block;
    position: relative;
    margin: 0.26vw;
    width: auto;
    max-width: 229.997px;
    height: auto;
    background:#d5d0d0;
    border-radius: 0.521vw;
    padding: 0.521vw;
    word-wrap: break-word;
    right: 0.521vw;
}

.my-message .ballon::after {
    border-top:0.781vw solid #d5d0d0;
    border-left: 0px solid transparent;
    border-right: 0.781vw solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:0.521vw;
    right: -0.729vw;
}

.my-message .date {
    text-align: left;
    font-size: 0.677vw;
}

.other-message {
    text-align: left;
    color: black;
    display: flex;
}

.other-message img {
    width: 2.604vw;
    height: 2.604vw;
    object-fit: contain;
    margin-right: 0.781vw;
    background-color: white;
}

.other-message .ballon {
    position:relative;
    margin: 0.26vw;
    width: auto;
    max-width: 11.979vw;
    height: auto;
    background:#d5d0d0;
    border-radius: 0.521vw;
    padding: 0.521vw;
    word-wrap: break-word;
}

.other-message .ballon::after {
    border-top:0.781vw solid #d5d0d0;
    border-left: 0.781vw solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:0.521vw;
    left:-0.781vw;
}

.other-message .message-display{
    display: flex;
    flex-direction: column;
}

.other-message .nickname {
    font-size: 0.781vw;
}

.other-message .date {
    font-size: 0.677vw;
    text-align: right;
}